<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="ClientKey" value="{client_key}" />
      <setting name="StreamAPITarget" value="{stream_api_target_endpoint}" />
      <setting name="CookieDomain" value="{cookie_domain}" />
      <setting name="POS" value="{name_of_point_of_sale}" />
      <setting name="WebFlowTarget" value="{web_flow_target}" />
    </settings>
  </sitecore>
</configuration>