<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="CDP.ClientKey" value="{client_key}" />
      <setting name="CDP.StreamAPITarget" value="{stream_api_target_endpoint}" />
      <setting name="CDP.CookieDomain" value="{cookie_domain}" />
      <setting name="CDP.POS" value="{name_of_point_of_sale}" />
      <setting name="CDP.WebFlowTarget" value="{web_flow_target}" />
      <setting name="CDP.Channel" value="{channel}" />
      <setting name="CDP.Type" value="{type}" />
      <setting name="CDP.Currency" value="{currency}" />
    </settings>
  </sitecore>
</configuration>