@model FullStackExperience.Models.BannerModel

<div>
    <h1>Hello @Model.GuestName</h1>

    @if (Model.ContentItem != null)
    {
        <h3>@Model.ContentItem["Title"]</h3>
        @Html.Raw(Model.ContentItem["Description"])
    }
</div>